.p{
    margin-left: 450px;
    margin-top: 250px;
    background-color:#00FFFF;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
body{
    background-color: #20B2AA;
}
#gus{
    margin-left: 60px;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    background-color: black;
    color: white;
}